.rating {
    color: #FEA500;
    /* 4.8 */

    width: 82px;
    height: 48px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    /* identical to box height, or 100% */
    text-align: center;

    color: #FEA500;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    gap: 0 32px;
}

