.title {
    /* Google */

width: 117px;
height: 32px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
/* identical to box height, or 100% */
text-align: center;

/* Dark-grey */
color: #6A6A6A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}